In [1]:
import pandas as pd
import os 
import csv

csvpath = os.path.join('..',"Resources","election_data_1.csv")
election_df = pd.read_csv(csvpath)
election_df.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [2]:
Total = election_df["Voter ID"].count()

In [3]:
groupby_df = election_df.groupby("Candidate")

In [4]:
rank_df = pd.DataFrame(groupby_df["Voter ID"].count())
rank_df

           Voter ID
Candidate
Cordin        24090
Seth          40150
Torres       353320
Vestal       385440

In [5]:
rank_df_sort= rank_df.sort_values("Voter ID",ascending = False)
rank_df_sort

           Voter ID
Candidate
Vestal       385440
Torres       353320
Seth          40150
Cordin        24090

In [6]:
summary_index = rank_df_sort.reset_index()
summary_index

  Candidate  Voter ID
0    Vestal    385440
1    Torres    353320
2      Seth     40150
3    Cordin     24090

In [7]:
summary_index.rename(columns={'Voter ID':'Total Votes'})

  Candidate  Total Votes
0    Vestal       385440
1    Torres       353320
2      Seth        40150
3    Cordin        24090

In [8]:
summary_index['Percent_total'] = (summary_index['Voter ID']/Total)*100

In [9]:
first = summary_index.iloc[0,0]
first_percent = summary_index.iloc[0,2]
first_count = summary_index.iloc[0,1]
second = summary_index.iloc[1,0]
second_percent = summary_index.iloc[1,2]
second_count = summary_index.iloc[1,1]
third = summary_index.iloc[2,0]
third_percent = summary_index.iloc[2,2]
third_count = summary_index.iloc[2,1]
fourth = summary_index.iloc[3,0]
fourth_percent = summary_index.iloc[3,2]
fourth_count=summary_index.iloc[3,1]

In [10]:
print("Election Results")
print("----------------")
print("Total Votes : " +str(Total))
print("----------------")
print(first+" : "+str(first_percent)+"% (" + str(first_count)+")")
print(second+" : "+str(second_percent)+"% (" + str(second_count)+")")
print(third+" : "+str(third_percent)+"% (" + str(third_count)+")")
print(fourth+" : "+str(fourth_percent)+"% (" + str(fourth_count)+")")
print("-------------------")
print("winner : " + first)
print("-------------------")

Election Results
----------------
Total Votes : 803000
----------------
Vestal : 48.0% (385440)
Torres : 44.0% (353320)
Seth : 5.0% (40150)
Cordin : 3.0% (24090)
-------------------
winner : Vestal
-------------------

In [15]:
file = open("Poll_result.txt","w")
file.write("Election Results\n")
file.write("----------------\n")
file.write("Total Votes : " +str(Total)+"\n")
file.write("----------------\n")
file.write(first+" : "+str(first_percent)+"% (" + str(first_count)+")"+"\n")
file.write(second+" : "+str(second_percent)+"% (" + str(second_count)+")"+"\n")
file.write(third+" : "+str(third_percent)+"% (" + str(third_count)+")"+"\n")
file.write(fourth+" : "+str(fourth_percent)+"% (" + str(fourth_count)+")"+"\n")
file.write("-------------------\n")
file.write("winner : " + first+"\n")
file.write("-------------------\n")
file.close()